<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutri - Cadastro</title>
</head>
<body>
    <form action="/cadastrar" method="POST">
        <label for="name">
            <input type="text" placeholder="Name" name="name">
        </label></br>
        <label for="pass">
            <input type="text" name="pass" placeholder="Password">
        </label></br>
        <input type="submit" value="Cadastrar">

    </form>
</body>
</html>