<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{login_title}}</title>
</head>
<body>
    <form action="/login" method="POST">
        <label for="name">
            <input type="text" name="name" placeholder="Name">
        </label></br>
        <label for="pass">
            <input type="password" name="pass" placeholder="Password">
        </label></br>
        <input type="submit" value="Enviar">
        <a href="/cadastrar">Cadastrar</a>

    </form>
</body>
</html>